/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
	-fx-background-color: #898989;
}
.button:hover {
	-fx-background-color: #C9C6C8;
}
.button:pressed {
	-fx-background-color: #898989;
}
.text-input:error{
	-fx-text-fill: white;
	-fx-border-insets: 0;
	-fx-border-width: 2px;
	-fx-border-color: red;
	-fx-border-style: hidden hidden solid hidden;
	-fx-background-color: derive(red, 99%);
}
